<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>QR 업로드</title>
  </head>
  <body>
    <h1>QR로 파일 업로드 하기</h1>
    <img src="<%= qr %>" alt="QR Code" width="200" />
    <p>이 QR을 스캔해서 파일을 업로드해보세요!</p>
  </body>
</html>
